footer {
  width: 100%;
  height: 777px;
  background-color: #f5f5f7;
  color: #8c8c91;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
footer li {
  cursor: pointer;
}
footer a:hover {
  text-decoration: underline;
}
.text-container {
  display: flex;
  justify-content: center;
}
.text-container p {
  padding-top: 10px;
  font-size: 12px;
  line-height: 16px;
}
.text-1 {
  padding-bottom: 12px;
  border-bottom: 0.8px solid;
}
.text-1 a {
  color: #515154;
  cursor: pointer;
}

/* part 2 of footer */
.links-container a {
  font-size: 12px;
  color: #515154;
  cursor: pointer;
}
.links-container li {
  list-style-type: none;
  padding: 5px 0;
}
.links-container h2 {
  color: #515154;
  font-size: 12px;
  padding-top: 20px;
}
.links-container {
  display: flex;
  justify-content: center;
}
.links-container div {
  padding: 0 2.3rem;
  padding-top: 12px;
}
/* not responsive part :( */

.myApple {
  transform: translateX(480px);
  font-size: 12px;
  padding: 15px 0 10px 0;
  border-bottom: 0.8px solid;
  width: 955px;
}
.myApple a {
  color: #0066cc;
}
.copyright i {
}
.copyright {
  padding-left: 470px;
  font-size: 12px;
  display: flex;
  padding-top: 10px;
}
.copyright p {
  padding: 0 10px;
}
.copyright span {
  padding: 0 5px;
  border-right: 0.8px solid;
}
.copyright h4 {
  padding-left: 190px;
  font-weight: normal;
  color: #515154;
}
.copyright span {
  cursor: pointer;
}
.copyright span:hover {
  text-decoration: underline;
}
.copyright h4 {
  cursor: pointer;
}
.copyright h4:hover {
  text-decoration: underline;
}
