.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 0 11px 11px 11px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.parent div {
  width: 100%;
  height: 580px;
}
.parent a {
  color: #306ece;
  padding: 1.1rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.parent a:hover{
  text-decoration: underline;
}
.parent .container {
  margin-top: 1rem;
}

.parent h2 {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}
.parent .apple {
  font-size: 2.1rem;
}

/* grid div 1 */
.div1 {
  background-image: url("/img/tile_macbookpro__cx0ur0qg9biq_large.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  grid-area: 1 / 1 / 2 / 2;
}
.div1 h2 {
  color: black;
  font-size: 2.5rem;
  padding-top: 3rem;
}
.div1 p {
  color: black;
  font-size: 1.4rem;
  padding-top: 0.5rem;
}

/* grid div 2 */
.div2 {
  background-image: url("/img/tile_watch__e9n11b6m6yq2_large.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  grid-area: 1 / 2 / 2 / 3;
}
.div2 p {
  color: black;
  font-size: 1.4rem;
  padding-top: 1rem;
}
.div2 h2 {
  padding-top: 0.8rem;
  font-size: 2rem;
}
.div2 h3 {
  font-weight: normal;
  font-size: 1rem;
  color:#CE2B30;
}
.div2 h4 {
  padding-top: 1.8rem;
  font-size: 0.8rem;
  font-weight: normal;
  color:#CE2B30;
}

/* grid div 3 */
.div3 {
  background-image: url("/img/tile_homepod_mini__b73w4z3ljymu_large.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  grid-area: 2 / 1 / 3 / 2;
}
.div3 h2 {
  padding-top: 3rem;
}

/* grid div 4 */
.div4 {
  background-image: url("/img/tile_lego_castaways__d2v36ez91ewm_large.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  grid-area: 2 / 2 / 3 / 3;
}
.parent .div4 h2 {
  padding-top: 3rem;
}
.div4 p {
  padding-top: 0.4rem;
  font-size: 1.3rem;
}
.div4 i:nth-child(1){
  font-size: 10px;
}
.div4 span{
  font-size: 10px;
}

/* grid div 5 */
.div5 {
  background-image: url("/img/tile__cauwwcyyn9hy_large.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  grid-area: 3 / 1 / 4 / 2;
}
.div5 h2 {
  padding-top: 3rem;
}
.div5 p {
  font-size: 1.2rem;
}

/* grid div 6 */
.div6 {
  background-image: url("/img/promo_dickinson__c9ea4l2f5rki_large.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  grid-area: 3 / 2 / 4 / 3;
  position: relative;
}
.div6 h2 {
  color: white;
  padding-top: 3rem;
}
.div6 .harrypotter {
  position: absolute;
  top: 380px;
  height: 20px;
}
.div6 .play {
  padding-top: 425px;
}
.play a {
  color: white;
  font-size: 1.2rem;
}
.play a :hover{
  text-decoration: underline;
}
